<mat-toolbar color="primary" class="header-toolbar">
  <div class="header-content">
    <div class="header-left">
      <mat-icon class="header-icon">school</mat-icon>
      <span class="header-title">Catálogo de Cursos</span>
    </div>

    <div class="header-right" *ngIf="currentUser$ | async as user">
      <span class="user-info">
        <mat-icon>person</mat-icon>
        {{ user.name }}
        <span class="user-role">({{ user.role }})</span>
      </span>

      <button mat-icon-button [matMenuTriggerFor]="userMenu" class="user-menu-btn">
        <mat-icon>account_circle</mat-icon>
      </button>

      <mat-menu #userMenu="matMenu">
        <div mat-menu-item>
          <mat-icon>person</mat-icon>
          <span>{{ user.email }}</span>
        </div>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Sair</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
